<div class="chat">

    <%= form_with model: [@room, @chat],url: room_chats_path, class:"form", local: true do |f| %>

      <div class="form-left">
        <%= f.text_field :nickname, class:"form-name", placeholder:"Type a Name" %>
        <%= f.text_area :message, class:"form-message", placeholder:"Type a Message" %>
      </div>

      <div class="form-right">
        <%= f.file_field :image, class:"form-image" %>
        <%= f.submit "投稿", class:"form-submit" %>
      </div>

    <% end %>
  
  <% @chats.each do |chat| %>
    <div class="chat-name">
      <%= chat.nickname %>
    </div>
    <div class="chat-message">
      <%= chat.message %>
    </div>
    <div class="image">
      <%= chat.image %>
    </div>
  <% end %>
</div>