<footer class="fixed-bottom" id="footer">
  <%= form_with model: [@room, @message] do |f| %>
    <div class="form-group" room-id=<%= @room.id %>>
      <%= f.text_area :content, class: 'form-control',placeholder: "メッセージを入力してください", rows: 1, maxlength: '500' %>
    </div>
<div class="input-group">
    <label class="input-group-btn">
        <span class="btn btn-info">
            Image <%= f.file_field :avatar, style: "display: none" %>
        </span>
    </label>
    <input type="text" id="image-info" class="form-control" readonly="">
</div>

    <div class="form-group">
      <%= f.submit '送信', class: 'btn btn-primary btn-block disabled', id: 'message-button' %>
    </div>
  <% end %>
</footer>